---
// Importaciones
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import card1 from "../assets/images/inicio/cards/card_1.webp";
import card2 from "../assets/images/inicio/cards/card_2.webp";
import bg_comentarios from "../assets/images/inicio/bg_comentarios.webp";
import CommentSlider from "../components/index/ComentariosSlider.tsx";
import Hero from "../components/index/Hero.astro";
import { FaCheck } from "react-icons/fa6";
import ProyectosSlider from "../components/index/ProyectosSlider.astro";

// Lista de comentarios de usuarios, sin duplicados y con id único
const comentarios = [
  {
    id: 1,
    nombre: "Kathy Calle",
    comentario:
      "¡Increíble, rediseñaron todo mi local! Ahora derrocha brillo y personalidad.",
    publicado: "10/10/2024",
    estrellas: 5,
  },
  {
    id: 2,
    nombre: "Fabricio Valle",
    comentario:
      "Como siempre, los más confiables del mercado. Nunca me decepcionan con sus productos LED.",
    publicado: "10/10/2024",
    estrellas: 5,
  },
  {
    id: 3,
    nombre: "Sofia Herrera",
    comentario:
      "¡Excelente! Nunca me imaginé que mi salón brillaría tanto. Gracias YUNTAS.",
    publicado: "10/10/2024",
    estrellas: 5,
  },
  {
    id: 4,
    nombre: "Carlos Mendoza",
    comentario:
      "El servicio al cliente es excepcional y los productos son de alta calidad.",
    publicado: "11/10/2024",
    estrellas: 4,
  },
  {
    id: 5,
    nombre: "Lucia Perez",
    comentario:
      "Muy profesionales y atentos a los detalles. Mi oficina luce espectacular.",
    publicado: "12/10/2024",
    estrellas: 5,
  },
  {
    id: 6,
    nombre: "Miguel Torres",
    comentario:
      "Gran experiencia, el equipo de YUNTAS es muy creativo y eficiente.",
    publicado: "13/10/2024",
    estrellas: 5,
  },
];
---

<Layout
  title="Yuntas Publicidad | Letreros Luminosos y Decoración LED en Lima."
  description="Especialistas en letreros LED, paneles acrílicos y hologramas 3D en Lima. Transforma tu negocio con tecnología visual impactante. ¡Contáctanos hoy!"
  keywords="letreros led para negocio, yuntas, yuntas publicidad, yuntas producciones, yuntas decoraciones, decoraciones, iluminación led negocio, que son vinilos, precio led, productos led lima"
  canonicalUrl="https://yuntaspublicidad.com/"
>
  <section class="relative h-[318px] md:h-screen">
    <!-- <HeroSlider client:load /> -->
    <Hero />
    <a href="/contact" class="uppercase font-semibold text-white py-2.5 px-8 bg-[#23C1DE] rounded-lg absolute sm:hidden md:hidden xl:hidden left-1/2 -translate-x-1/2 z-10 -bottom-7 text-xl">Contáctanos</a>
  </section>

  <section class="bg-white py-16 border-t-8 border-blue-300">
    {/* DESKTOP */}
    <div class="w-full hidden sm:grid grid-cols-1 lg:grid-cols-2 gap-14">
      <!-- Columna izquierda -->
      <div class="pr-4 sm:pr-0">
        <div
          class="bg-[#6DD0DB33] rounded-xl py-4 px-4 sm:px-12 shadow-md flex items-center justify-center gap-16 ml-14 mb-6"
        >
          <span class="text-2xl text-[#0D1030]">
            <FaCheck />
          </span>
          <p class="text-[#00031E] font-semibold">
            Descubre cómo integrar esta innovadora tecnología en tus proyectos
            arquitectónicos
          </p>
        </div>

        <!-- se agrego un título -->
        <Picture
          src={card2}
          alt="Evento con iluminación LED"
          title="Evento con iluminación LED"
          class="rounded-r-xl shadow-lg object-cover sm:h-[548px]"
        />
      </div>

      <!-- Columna derecha --> 
      <!-- se agrego un titulo -->
      <div class="pl-4 sm:pl-0">
        <Picture
          src={card1}
          alt="Túnel de luces LED"
          title="Túnel de luces LED"
          class="rounded-l-xl shadow-lg object-cover sm:h-[548px]"
        />

        <div
          class="bg-[#6DD0DB33] rounded-xl py-4 px-4 sm:px-12 shadow-md flex items-center justify-center gap-16 mr-14 mt-6"
        >
          <span class="text-2xl text-[#0D1030]">
            <FaCheck />
          </span>
          <p class="text-[#00031E] font-semibold">
            Aprende cómo esta tecnología transforma el ambiente y optimiza el
            consumo energético
          </p>
        </div>
      </div>
    </div>
    {/* MOBILE */}
    <div class="w-full flex flex-col items-center justify-center sm:hidden gap-6">
      <!-- card 1 -->
      <div class="bg-[#6DD0DB33] rounded-xl px-4 py-3 shadow-md flex items-center justify-center gap-4 w-[80%]">
        <span class="text-xl text-[#0D1030]"><FaCheck /></span>
        <p class="text-[#00031E] font-semibold text-xs">Descubre cómo integrar esta innovadora tecnología en tus proyectos arquitectónicos</p>
      </div>

      <!-- se agrego un titulo-->
      <div class="grid grid-cols-2 gap-4">
        <Picture
          src={card2}
          height={161}
          alt="Evento con iluminación LED"
          title="Evento con iluminación LED"
          class="rounded-r-xl shadow-lg object-cover h-[161px]"
        />

        <!-- se agrego un titulo-->
        <Picture
          src={card1}
          height={161}
          alt="Túnel de luces LED"
          title="Túnel de luces LED"
          class="rounded-l-xl shadow-lg object-cover h-[161px]"
        />
      </div>

      <!-- card 1 -->
      <div class="bg-[#6DD0DB33] rounded-xl px-4 py-3 shadow-md flex items-center justify-center gap-4 w-[80%]">
        <span class="text-xl text-[#0D1030]"><FaCheck /></span>
        <p class="text-[#00031E] font-semibold text-xs">Aprende cómo esta tecnología transforma el ambiente y optimiza el
            consumo energético</p>
      </div>
    </div>
  </section>

  <!-- Nuestros proyectos  -->
  <ProyectosSlider />

  <!-- Sección de testimonios -->
  <div class="px-14 py-6 w-full relative bg-[#23C1DE]">
    <h3 class="text-3xl md:text-4xl font-bold text-white uppercase">
      <span class="italic">Tu opinión es</span> importante
    </h3>
    <h3 class="text-3xl md:text-4xl font-bold text-white uppercase">
      para nosotros
    </h3>
  </div>
  <section
    class="w-full bg-white py-14 px-2 sm:px-16 overflow-visible relative flex justify-center items-center"
  >
    <div
      class="relative w-full h-[765px] flex justify-center items-center rounded-[3rem] overflow-hidden"
    >
      <img
        src={bg_comentarios.src}
        alt="Luminaria LED innovadora para interior de cafetería, estilo contemporáneo, ideal para espacios cálidos y funcionales"
        title="Luminaria LED"
        class="absolute z-0 w-full h-full object-cover object-bottom"
        loading="lazy"
      />
      <div class="relative z-10 p-6 w-full">
        <CommentSlider comentarios={comentarios} client:visible />
      </div>
    </div>
    <a
      href="/contact"
      class="py-2 px-10 bg-[#23C1DE] text-white font-bold rounded-2xl absolute bottom-7 text-2xl uppercase"
      >¡COTIZA AHORA!</a
    >
  </section>
</Layout>
